.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avata {
  width: 50px;
  border-radius: 38%;
}

.friend__avata.g-avatar {
  width: 70px;
}

.friend__avata.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avata {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend .chat__timestamp,
.friend__content .friend__status {
  font-size: 12px;
}
